.products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-container h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 3rem;
  color: dodgerblue;
}

