.product-card {
  border: 1px solid dodgerblue;
  border-radius: 5px;
  box-shadow: 0 0 3px dodgerblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px;
  max-width: 300px;
  padding: 10px;
}

.product-card__title {
  margin: 15px;
  max-width: 250px;
  font-size: 18px;
}

.product-card__image {
  margin: 15px;
}

.product-card__image img {
  max-width: 250px;
  max-height: 300px;
}

.product-card__price {
  width: 250px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 0 10px;
}

.product-card__price p {
  font-size: 18px;
}

.product-card__price span {
  font-size: 18px;
  font-weight: bold;
}

.product-card__controls {
  margin-bottom: 10px;
}
