.auth-form {
  margin-top: 50px;
  padding: 20px 30px;
  border: 1px solid dodgerblue;
  border-radius: 5px;
  box-shadow: 0 0 5px dodgerblue;
  width: 20%;
}
.auth-form h4 {
  text-align: center;
  font-size: 1.5rem;
  color: dodgerblue;
  margin-bottom: 20px;
}


